html {
  overflow-y: scroll;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  font-size: 14px;
  font-size: 1.4rem;
  background-color: #eef3f5;
}

html,
body,
#__next {
  height: 100%;
}

a {
  color: #c4161c;
  transition: color 0.3s ease;
}
a:hover {
  color: #41728b;
  text-decoration: none;
}

img {
  max-width: 100%;
}
